<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dept1"
        tools:targetApi="31">
        <activity
            android:name=".viewpdf"
            android:exported="false" />
        <activity
            android:name=".allstudent"
            android:exported="false" />
        <activity
            android:name=".allSub_activity"
            android:exported="false" />
        <activity
            android:name=".studentPanel"
            android:exported="false" />
        <activity
            android:name=".UploadPdf"
            android:exported="false" />
        <activity
            android:name=".myNotesActivity"
            android:exported="false" />
        <activity
            android:name=".create_subject"
            android:exported="false" />
        <activity
            android:name=".notes_activity"
            android:exported="false" />
        <activity
            android:name=".all_faculty"
            android:exported="false" />
        <activity
            android:name=".TeacherPanel"
            android:exported="false" />
        <activity
            android:name=".loginTeacher"
            android:exported="false" />
        <activity
            android:name=".addFaculty"
            android:exported="false" />
        <activity
            android:name=".adminpanelActivity"
            android:exported="false" />
        <activity
            android:name=".Register_activity"
            android:exported="false" />
        <activity
            android:name=".loginoptionactivity"
            android:exported="false" />
        <activity
            android:name=".loginadminactivity"
            android:exported="false" />
        <activity
            android:name=".loginactivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>